<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Register</title>
</head>
<body>
    <h1>Admin Register</h1>

    <form action="/admin_register" method="post">
        <input type="text" name="name" required id="" placeholder="name"><br>
        <input type="email" name="email" required id="" placeholder="email"><br>
        <input type="password" name="password" required id="" placeholder="create password"><br>
        <input type="password" name="" required id="" placeholder="re-type password"><br>
        <input type="text" name="phone" required id="" placeholder="phone"><br>
        <input type="number" name="adminId" required id="" placeholder="adminId"><br>
        <input type="text" name="gender" id="">
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>